/*minifyOnSave, minifier: clean-css, checkOutputFileAlreadyExists: false, checkAlreadyMinifiedFile: false, filenamePattern: $1.min.$2 */
body.gdpr-consent {
	overflow: hidden;
}
body.gdpr-consent #gdpr_backdrop {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--gdrp-backdrop);
	z-index: 9999
}
#gdpr_alert {
	position: fixed;
	min-height: 28.875em;
	height: auto;
	max-width: 19.1875em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-color: var(--gdpr-bkgrd);
	padding: 0.8em 1.5em;
	z-index: 10000;
	border-radius: 0.5em;
	/*-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.44),0px 2px 2px 0px rgba(0, 0, 0, 0.44),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
	        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.44),0px 2px 2px 0px rgba(0, 0, 0, 0.44),0px 3px 1px -2px rgba(0, 0, 0, 0.12);*/
	-webkit-box-shadow: 0px 0px 20px #000;
	        box-shadow: 0px 0px 20px #000;
}
.ue-image {
	position: absolute;
	width: 3.75em;
	top: -1.5625em;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
#gdpr_alert h1,
#gdpr_alert p {
	color: var(--gdpr-text-clr);
	font-size: 0.9em;
}
#gdpr_alert p {
	text-align: justify;
	text-shadow: 0 1px 0 currentColor;
}
#gdpr_alert h1 {
	font-size: 1.5em;
	text-align: center;
	margin: 2em auto;
}
#gdpr_alert a {
	font-weight: bold;
}
#gdpr_alert h1,
#gdpr_alert a:not(#kcs):hover {
	background: -webkit-gradient(linear,left top, right top,from(var(--gdpr-header-clr)),color-stop(var(--gdpr-decline-clr)),to(var(--gdpr-header-clr)));
	background: linear-gradient(to right,var(--gdpr-header-clr),var(--gdpr-decline-clr),var(--gdpr-header-clr));
}
.gdpr-buttons {
	text-align: center;
	padding: 0.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}
.button.gdpr {
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 1em;
	font-size: 0.9em;
	padding: 0.5em;
	-webkit-transition: all 0.3s linear;
	        transition: all 0.3s linear;
}
#consent.button.gdpr {
	-webkit-box-shadow: inset 0px 1px 0px 0px var(--gdpr-ok-brdclr);
	        box-shadow: inset 0px 1px 0px 0px var(--gdpr-ok-brdclr);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--gdpr-ok-topclr)), to(var(--gdpr-ok-endclr)));
	background: linear-gradient(to bottom, var(--gdpr-ok-topclr) 5%, var(--gdpr-ok-endclr) 100%);
	background-color: var(--gdpr-ok-topclr);
	border-color: var(--gdpr-ok-brdclr);
	color: var(--gdpr-consent-clr);
	font-weight: bold;
	padding: 0.5em 1.5em;
	text-shadow: 0px 1px 0px var(--gdpr-ok-brdclr);
}
#consent.button.gdpr:hover {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, var(--gdpr-ok-topclr)), to(var(--gdpr-ok-endclr)));
	background: linear-gradient(to top, var(--gdpr-ok-topclr) 5%, var(--gdpr-ok-endclr) 100%);
	background-color: var(--gdpr-ok-endclr);
	text-shadow: 2px 3px 0px var(--gdpr-ok-brdclr);
}
/*#consent.button.gdpr:disabled {
	background: none;
}*/
#decline.button.gdpr {
	-webkit-box-shadow: inset 0px 1px 0px 0px var(--gdpr-decline-clr);
	        box-shadow: inset 0px 1px 0px 0px var(--gdpr-decline-clr);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, var(--gdpr-bkgrd)), to(var(--gdpr-decline-clr)));
	background: linear-gradient(to bottom, var(--gdpr-bkgrd) 45%, var(--gdpr-decline-clr) 100%);
	border-color: var(--gdpr-decline-clr);
	color: var(--gdpr-decline-clr);
	text-shadow: 1px 1px 0px var(--gdpr-decline-clr);
}
#decline.button.gdpr:hover {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, var(--gdpr-bkgrd)), to(var(--gdpr-decline-clr)));
	background: linear-gradient(to top, var(--gdpr-bkgrd) 5%, var(--gdpr-decline-clr) 100%);
	color: var(--gdpr-bkgrd);
	text-shadow: 0px 2px 0px var(--gdpr-decline-clr);
}
/* .copy = the "promotion" banner */
#gdpr_alert .copy {
	position: absolute;
	background: -webkit-gradient(linear, left top, right top, from(#353e43), to(#328ed7));
	background: linear-gradient(to right, #353e43, #328ed7);
	width: calc(100% - 3em);
	bottom: 0;
	margin: 0 auto 0.5em;
	color: #353e43;
	font-size: 0.7em;
	text-align: center;
}
#gdpr_alert .copy:hover {
	background: -webkit-gradient(linear, right top, left top, from(#353e43), to(#328ed7));
	background: linear-gradient(to left, #353e43, #328ed7);
}
#gdpr_alert h1,
#gdpr_alert .copy,
#gdpr_alert a:not(#kcs):hover,
#gdpr_alert .copy:hover {
	-webkit-transition: background 0.3s linear;
	        transition: background 0.3s linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#gdpr_alert .copy img {
	width: 1em;
	margin-right: 0.5em;
	margin-bottom: 0.2em;
	vertical-align: middle;
}
body:not(.gdpr-consent) #gdpr_alert,
body:not(.gdpr-consent) #gdpr_backdrop {
	display: none !important;
}
